.contenedor__detalle{
    display: flex;
    align-content: center;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../img/mapa.jpg);
   

}
.detalle{
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    display: flex;
    align-content: space-between;
    flex-flow: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 800px;
    padding-bottom: 30px;
    padding-top: 20px;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}
.div__act{
    width: auto;
    height: auto;
    border: 2px solid green;
    display: grid;
    
    justify-content: space-between;
    grid-template-columns: auto auto;
    border-radius: 15px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}