.contenedor__general{
    display: flex;
    align-content: space-between;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}
.contenedor__ordenamiento{
    font-size: 10px;
    height: 20px;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.contenedor__pobla{
    font-size: 10px;
    height: 20px;
    display:flex;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.contenedorFiltroCont{
    display: flex;
    font-size: 10px;
    height: 20px;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
   
}

.filtro__actividad{
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    height: auto;
    padding-bottom: 20px;
    flex-flow: column;
    justify-content: left;
    align-items: left;
    align-content: space-between;
    margin-left: 10px;

}
.boton__act{
    border-radius: 15px;
    background: rgb(0 128 55);
    width: 150px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
    border:none;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    justify-content: center;
}
.contenedor__bot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.select__continente{
    border: none;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    border-radius: 3px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.select__minmax{
    border: none;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    border-radius: 3px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.select__az{
    border: none;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    border-radius: 3px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.check{
    border: none;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
     
}